.slidehot{
  position: relative;
  background: #532F8C;
  color: white;
  padding: 12% 0;
  font-size: 1.5em;
  .container, .container-fluid{
    position: relative;
    z-index: 2;
    .row{
      margin: 0 0;
      .col-lg-8, .col-lg-4{
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
  h1, h2, h3{
    margin: 0 0 20px;
  }
  .btn{
    font-size: 0.8em;
    border-radius: 0;
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 1.6rem 3rem;
    margin-top: 10px;
    &:hover, &:focus{
      background: transparent;
      border: 2px solid white;
    }
  }
  .slides{
    .slide{
      //width: 700px;
      max-width: 100%;
      padding: 65px;
      position: relative;
      height: 460px;
      box-shadow: 63px -63px 83px #fff inset;
      //margin: 1em auto;
      //overflow: hidden;
      p {
        position: absolute;
        bottom: 10px;
        font-weight: 200;
        font-size: 1em;
      }
    }
    .slide-prev, .slide-next{
      display: block;
      width: 16px;
      height: 34px;
      background-image: url(./next.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      top: 50%;
      left: 20px;
      margin-top: -24px;
      cursor: pointer;
      z-index: 2;
    }
    .slide-next{
      background-image: url(./prev.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      left: auto;
      right: 40px;
    }
  }
  .wrap{
    display: table-cell;
    height: 240px;
    vertical-align: middle;
    padding: 0px 0px;
    margin: 0 auto;
  }
  .well-auto{
    padding: 70px 30px;
    background: rgb(52, 152, 219);
    color: white;
    height: 460px;
  }
}
