.media-queries {
  display: block;
  height: 40px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 599px) {
  .media-queries {
    background: orange;
  }
  .media-queries:after {
    content: "mobile";
    display: block;
  }
}
@media only screen and (min-width: 600px) and (max-width: 949px) {
  .media-queries {
    background: purple;
  }
  .media-queries:after {
    content: "tablet";
    display: block;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .media-queries {
    background: green;
  }
  .media-queries:after {
    content: "desktop";
    display: block;
  }
}
@media only screen and (min-width: 1129px) {
  .media-queries {
    background: blue;
  }
  .media-queries:after {
    content: "desktop-xl";
    display: block;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px), only screen and (min-width: 1129px) {
  .media-queries {
    color: black;
  }
  .media-queries:after {
    content: "@desktop - desktop-xl";
    display: block;
  }
}
html {
  box-sizing: border-box;
}
html * {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.container,
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  max-width: 100%;
}
.container-fluid {
  width: 1100px;
}
.container.page {
  margin-top: 100px;
  margin-bottom: 50px;
}
.row {
  margin-right: -6px;
  margin-left: -6px;
  *zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-lg-1 {
  float: left;
  width: 8.33333333%;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
}
.col-lg-2 {
  float: left;
  width: 16.66666667%;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
}
.col-lg-3 {
  float: left;
  width: 25%;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
}
.col-lg-4 {
  float: left;
  width: 33.33333333%;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
}
.col-lg-5 {
  float: left;
  width: 41.66666667%;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
}
.col-lg-6 {
  float: left;
  width: 50%;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
}
.col-lg-7 {
  float: left;
  width: 58.33333333%;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
}
.col-lg-8 {
  float: left;
  width: 66.66666667%;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
}
.col-lg-9 {
  float: left;
  width: 75%;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
}
.col-lg-10 {
  float: left;
  width: 83.33333333%;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
}
.col-lg-11 {
  float: left;
  width: 91.66666667%;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
}
.col-lg-12 {
  float: left;
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
}
@media only screen and (min-width: 600px) and (max-width: 949px) {
  .col-sm-1 {
    float: left;
    width: 8.33333333%;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
  }
  .col-sm-2 {
    float: left;
    width: 16.66666667%;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
  }
  .col-sm-3 {
    float: left;
    width: 25%;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
  }
  .col-sm-4 {
    float: left;
    width: 33.33333333%;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
  }
  .col-sm-5 {
    float: left;
    width: 41.66666667%;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
  }
  .col-sm-6 {
    float: left;
    width: 50%;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
  }
  .col-sm-7 {
    float: left;
    width: 58.33333333%;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
  }
  .col-sm-8 {
    float: left;
    width: 66.66666667%;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
  }
  .col-sm-9 {
    float: left;
    width: 75%;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
  }
  .col-sm-10 {
    float: left;
    width: 83.33333333%;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
  }
  .col-sm-11 {
    float: left;
    width: 91.66666667%;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
  }
  .col-sm-12 {
    float: left;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
  }
}
@media only screen and (max-width: 599px) {
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
    display: block;
    float: none;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
.text-center {
  text-align: center;
}
._test {
  border: 1px solid red;
}
.aside-layout {
  padding-left: 300px;
}
.aside-layout[data-view="off"] {
  padding: 0px;
}
.aside-layout[data-view="off"] .left-aside {
  display: none;
}
.aside-layout .collapse {
  display: block;
  width: 28px;
  height: 28px;
  border: 2px solid #ccc;
  position: fixed;
  top: 30px;
  left: 30px;
  cursor: pointer;
  z-index: 3;
}
.aside-layout .collapse::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 15%;
  width: 70%;
  height: 2px;
  background: #ccc;
}
.aside-layout .collapse::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 15%;
  width: 70%;
  height: 2px;
  background: #ccc;
}
.aside-layout .left-aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  padding-top: 80px;
  background: whitesmoke;
}
.jumbotron {
  background: #532F8C;
  color: white;
  border: 0px solid transparent;
  position: relative;
  padding: 10% 0;
}
.jumbotron > section {
  z-index: 2;
}
.jumbotron._landing {
  height: 100vh;
  min-height: 500px;
}
.jumbotron._white {
  background: white;
  color: black;
}
.jumbotron._blue {
  background: #03A9F4;
  color: white;
}
.jumbotron._green {
  background: #4CAF50;
  color: white;
}
.jumbotron._orange {
  background: #FF5722;
  color: white;
}
.left-aside {
  padding: 30px;
}
.container-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.container-img img {
  display: block;
  width: 0;
  height: 0;
}
.container-img.backdrop:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}
.container-img._loading::before {
  content: "\B0\B0\B0";
  display: inline-block;
  font-size: 32px;
  color: #82e586;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -18px;
}
.container-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
  overflow: hidden;
}
.container-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}
.container-video.backdrop:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}
.container {
  position: relative;
  width: 1200px;
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.container._md {
  width: 800px;
}
.container._sm {
  width: 600px;
}
.container._xs {
  width: 300px;
}
.container._center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  border-radius: 3px;
  display: inline-block;
  margin: 5px 0;
  padding: 8px 18px;
  border: none;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: #e1e1e1;
  font-size: 13px;
  outline: none;
  position: relative;
  cursor: pointer;
  margin-right: 8px;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}
.button:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  z-index: 2;
}
.button:last-child {
  margin-right: 0px;
}
.button._lg {
  padding: 12px 22px;
  font-size: 15px;
}
.button._sm {
  padding: 6px 12px;
  font-size: 12px;
}
.button._xs {
  padding: 4px 6px;
  font-size: 12px;
}
.button._primary {
  background: #337ab7;
  color: white;
}
.button._success {
  background: #5cb85c;
  color: white;
}
.button._info {
  background: #5bc0de;
  color: white;
}
.button._error {
  background: #d9534f;
  color: white;
}
.button._link {
  background: transparent;
  color: #337ab7;
  text-decoration: underline;
}
.button._block {
  display: block;
  text-align: center;
  width: 100%;
}
