.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  margin: 1em auto 2em;
  max-width: 75%;
}
.jumbotron .lang-logo {
  background: #B01302;
  border-radius: 50%;
  border: 2px solid white;
  display: block;
  height: 100px;
  margin: auto;
  overflow: hidden;
  width: 100px;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.panel.panel-aside {
  position: relative;
}
.panel.panel-aside .panel-body {
  min-height: 1040px;
  padding: 27px 56px 42px 311px;
}
.panel.panel-aside .panel-body nav {
  margin-top: 40px;
}
.panel.panel-aside .panel-body nav ul.pager {
  margin: 0 0;
}
.panel.panel-aside .panel-body nav ul.pager li.previous a {
  text-align: left;
}
.panel.panel-aside .panel-body nav ul.pager li.previous span {
  text-align: left;
}
.panel.panel-aside .panel-body nav ul.pager li.next a {
  text-align: right;
}
.panel.panel-aside .panel-body nav ul.pager li.next span {
  text-align: right;
}
.panel.panel-aside .panel-body nav ul.pager li a {
  background-color: transparent;
  border: 0px solid #dddddd;
  cursor: pointer;
  padding: 0 0;
  position: relative;
}
.panel.panel-aside .panel-body nav ul.pager li a:after {
  background: #ec008c;
  bottom: -2px;
  content: "";
  height: 4px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.panel.panel-aside .panel-body nav ul.pager li a:hover {
  background-color: transparent;
}
.panel.panel-aside .panel-body nav ul.pager li a span:first-child {
  display: block;
}
.panel.panel-aside .panel-body nav ul.pager li:hover a {
  background-color: transparent;
}
.panel.panel-aside .panel-body .tab-content h4 {
  margin: 0 0 4px;
}
.panel.panel-aside .panel-body .tab-content p {
  line-height: 1.8;
  margin: 0 0 18px;
}
.panel.panel-aside .panel-body .tab-content ul {
  line-height: 1.8;
  margin: 0 0 18px;
}
.panel.panel-aside .nav-tabs.nav-stacked {
  background-color: #e2e2e2;
  border: 0px;
  height: 100%;
  left: 0;
  padding: 21px 21px;
  position: absolute;
  top: 0;
  width: 280px;
}
.panel.panel-aside .nav-tabs.nav-stacked li a {
  background: none;
  border: 0px;
  cursor: pointer;
  display: block;
  padding: 5px 5px 9px 10px;
  position: relative;
  text-transform: uppercase;
}
.panel.panel-aside .nav-tabs.nav-stacked li a:hover {
  color: #000000;
}
.panel.panel-aside .nav-tabs.nav-stacked li span {
  background: none;
  border: 0px;
  cursor: pointer;
  display: block;
  padding: 5px 5px 9px 10px;
  position: relative;
  text-transform: uppercase;
}
.panel.panel-aside .nav-tabs.nav-stacked li span:hover {
  color: #000000;
}
.panel.panel-aside .nav-tabs.nav-stacked li.active > a {
  color: #000000;
}
.panel.panel-aside .nav-tabs.nav-stacked li.active > span {
  color: #000000;
}
