.lets-talk{
  position: relative;
  background: #532F8C;
  color: white;
  padding: 12% 0;
  font-size: 1.5em;
  //min-height: 500px;
  .container{
    position: relative;
    z-index: 2;
  }
  h1, h2, h3{
    margin: 0 0 20px;
  }
  .btn, .btn.btn-default{
    font-size: 0.8em;
    border-radius: 0;
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 1.6rem 3rem;
    margin-top: 10px;
    opacity: 1;
    &:hover, &:focus{
      background: transparent;
      border: 2px solid white;
      opacity: 0.9;
    }
  }
  .close{
    display: inline-block;
    border: 0;
    padding: 0;
    width: 26px;
    height: 26px;
    position: absolute;;
    top: 30px;
    right: -66px;
    z-index: 3;
    opacity: 0.8;
    background: url(./cancel.svg) center center no-repeat;
    background-size: 22px 22px;
    text-indent: -10000%;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover{
      opacity: 1;
      transition: all 0.2s ease;
    }
  }
  address{
    color: black;
  }
}
