<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <!-- Not present in the tutorial. Just for basic styling. -->
  <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="alert alert-info" role="alert"><%= tagline %></div>
    <br />
    <br />
    <div id="app"></div>
    <br />
    <br />
  </div>

  <div id="app"></div>
  <script src="<%= bundle %>"></script>

</div>


</body>
</html>
