<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <!-- Not present in the tutorial. Just for basic styling. -->
  <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>

</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="alert alert-info text-center" role="alert">Editor page</div>
    <br />
    <br />
    <div id="editorapp"></div>
    <br />
    <br />
  </div>

  <script src="assets/test.bundle.js"></script>
  <script src="assets/editorapp.bundle.js"></script>

</div>


</body>
</html>
