<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="alert alert-info text-center" role="alert"><%= tagline %></div>
    <br />
    <ul>
      <% drinks.forEach(function(drink) { %>
        <li><%= drink.name %> - <%= drink.drunkness %></li>
      <% }); %>
    </ul>
  </div>
  <div class="container">
    <br />
    <br />
    <div id="app"></div>
    <br />
    <br />
  </div>

  <script src="assets/bundle.js"></script>


</body>
</html>
