<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
</head>

<body>

  <div class="container">
    <div class="alert alert-info" role="alert"><%= tagline %></div>
    <br />
    <ul>
      <% appslist.forEach(function(app) { %>
        <li><a href="<%= app.href %>"><%= app.name %></a></li>
      <% }); %>
    </ul>
    <br />
    <br />
  </div>

  <div id="app"></div>
  <script src="<%= bundle %>"></script>


</body>
</html>
