<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="alert alert-info" role="alert"><%= tagline %></div>
    <br />
    <ul>
      <% drinks.forEach(function(drink) { %>
        <li><%= drink.name %> - <%= drink.drunkness %></li>
      <% }); %>
    </ul>
  </div>

  <div class="container">
    <br />
    <br />
    <div id="app"></div>
    <br />
    <br />
    <div id="editorapp"></div>
    <br />
    <br />
  </div>
  <script src="assets/editorapp.bundle.js"></script>
  <script src="assets/app.bundle.js"></script>


</body>
</html>
