.button {
  position: relative;
  border-radius: 3px;
  display: inline-block;
  margin: 5px 0;
  padding: 8px 18px;
  border: none;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: #e1e1e1;
  font-size: 13px;
  outline: none;
  position: relative;
  cursor: pointer;
  margin-right: 8px;
  //
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  &:hover{
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    z-index: 2;
  }

  &:last-child{
    margin-right: 0px;
  }
  &._lg{
    padding: 12px 22px;
    font-size: 15px;
  }
  &._sm{
    padding: 6px 12px;
    font-size: 12px;
  }
  &._xs{
    padding: 4px 6px;
    font-size: 12px;
  }
  &._primary{
    background: #337ab7;
    color: white;
  }
  &._success{
    background: #5cb85c;
    color: white;
  }
  &._info{
    background: #5bc0de;
    color: white;
  }
  &._error{
    background: #d9534f;
    color: white;
  }
  &._link{
    background: transparent;
    color: #337ab7;
    text-decoration: underline;
  }
  &._block{
    display: block;
    text-align: center;
    width: 100%;
  }
}
