.container-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  //filter: blur(2px);
  //filter: blur(20px) grayscale(20%);
  img{
    display: block;
    width: 0;
    height: 0;
  }
  &.backdrop{
    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.25);
    }
  }
  //
  //&._loaded
  //&._error
  &._loading, &._loaded{
    //opacity: 0.5;
    &::before{
      //content: "\B0\B0\B0";
      content: "";
      display: block;
      box-sizing: border-box;
      font-size: 32px;
      color: #82e586;
      position: absolute;
      top: 0px;
      left: 0%;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      padding-top: 40px;
      opacity: 1;
      transition-duration: 0.2s;
    }
  }
  &._loaded{
    &::before{
      opacity: 0;
      transition-duration: 0.2s;
    }
  }
  //
}

.container-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
  overflow: hidden;
  video{
    position: absolute;;
    top: 50%; left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }
  &.backdrop{
    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.25);
    }
  }
}
