@jumbotron-bg: #532F8C;
@jumbotron-color: black;
@jumbotron-padding: 15% 0;
@jumbotron-blue: #03A9F4;
@jumbotron-green: #4CAF50;
@jumbotron-orange: #FF5722;
@import (optional) "../../Base/_library";

.jumbotron {
	background: @jumbotron-bg;
	color: white;
	position: relative;
	padding: @jumbotron-padding;
	> section{
		z-index: 2;
	}
	//options
	&._landing{
		height: 100vh;
    min-height: 500px;
	}
	//colors
	&._white{
		background: white;
		color: @jumbotron-color;
	}
	&._blue{
		background: @jumbotron-blue;
		color: white;
	}
	&._green{
		background: @jumbotron-green;
		color: white;
	}
	&._orange{
		background: @jumbotron-orange;
		color: white;
	}
}
