@container-p: 0 20px;
@container-w: 1300px;
@container-w-md: 900px;
@container-w-sm: 700px;
@container-w-xs: 300px;

.container {
  position: relative;
  width: @container-w;
  max-width: 100%;
  padding: @container-p;
  margin: 0 auto;
  //border: 1px solid red;
  //Sizes
  &._md{
    width: @container-w-md;
  }
  &._sm{
    width: @container-w-sm;
  }
  &._xs{
    width: @container-w-xs;
  }
  //Position
  &._center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &._auto{
    padding: 0 0;
  }
}
